<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Configuration Blocks</h1>

    <div class="filter">
      <form class="form-inline">
        <div class="form-group">
          <label>Sample:</label>
          <%= collection_select("sample", "id", Sample.all, :id, :name, {}, {class: 'selectpicker'}) %>
          <button type="submit" class="btn btn-default">Find</button>
        </div>
      </form>
    </div>

    <% unless @sections.nil? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order</th>
            <th>Name</th>
            <th>Sample</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @sections.each do |section| %>
            <tr>
              <td><%= section.order %></td>
              <td><%= section.name %></td>
              <td><%= section.sample.name %></td>
              <td><%= link_to 'Show', section %></td>
              <td><%= link_to 'Edit', edit_section_path(section) %></td>
              <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= link_to 'New Configuration Block', new_section_path %>
  </div>
</div>
